*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
form > div, body > div, #enviar, #selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
}